

<% if current_user %>
        <div class="profile-container">
                <h2>User Info</h2>
<%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
<table>
<thead>
<tr>
<th>name:</th>
<th><h3 class="profile-name"><%= current_user.name %></h3></th>
</tr>
</thead>
<tbody>
<tr>
<td>introduction:</td>
<td><h3 class="profile-introduction"><%= current_user.introduction %></h3></td>
</tr>
</tbody>

</table>
<p><%= link_to "プロフィール編集", edit_user_path(current_user), class: "pull-right" %></p>
<% end %>
